<div class="container" >
            <div class="input-field col s12">
              <input id="country" type="text" class="validatefilter-input" [(ngModel)]=query (ngModelChange)=getContries()>
              <label for="country">Country</label>
            </div>
            <div class="suggestions" *ngIf="filteredList.length > 0">
                <ul *ngFor="let item of filteredList" >
                    <li >
                        <a (click)="select(item)">{{item}}</a>
                    </li>
                </ul>
            </div>
  </div> 